<!--// "id": 81,
// "short_name": "L",
// "name": "Lunch",
// "special_instructions": "Sunday-Friday 11:15am-3:00pm. Served with your choice of rice (Vegetable Fried RIce, Steamed Rice, Brown Rice), AND EITHER soup (Hot & Sour, Wonton, Vegetable, Egg Drop, Chicken Corn Soup) OR veggie egg roll. $1.00 extra to have both soup and egg roll.",
// "url": "https://davids-restaurant.herokuapp.com/categories/81.json"-->


<!--<h3>Title: {{ $ctrl.categories }}</h3>-->
HELLO
<table>
  <tr ng-repeat="category in categoriesCtrl.categories">
    <td>{{ category.id }}</td>
    <td>{{ category.short_name }</td>
    <td>{{ category.name }</td>
    <td>{{ category.special_instructions }</td><td> 
    <!--<button ng-click="$ctrl.remove($index);">Remove Item</button>-->
  </tr>
</table>
