<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/table.css">
  </head>
  
<body>
   <div class="container" ng-app="NarrowItDownApp">
    <div ng-controller="NarrowItDownController as narrowDown">
      <h1>Narrow Down Your Chinese Menu Choice</h1>
      <table border="0" class="datatable">
        <tr>
          <td>
            <div class="form-group">
              <input type="text" placeholder="search term" class="form-control" ng-model="narrowDown.searchTerm">
            </div>
          </td>
          <td>
            <div class="form-group narrow-button" >
              <button class="btn btn-primary" ng-click="narrowDown.narrowItDown(narrowDown.searchTerm)">Narrow It Down For Me!</button>
            </div>
          </td>
          <td colspan="2"> </td>
        </tr>
        </table>
        <table  class="datatable">
           <found-items items="narrowDown.found" on-remove="narrowDown.removeItem(index)"></found-items>
        </table>
    </div>
  </div>
</body>
</html>
